@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");

/* css reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chela One", cursive;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ############### end css reset ################### */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top {
  background: rgba(18, 52, 87, 0.6);
}

/* background video fit entire screen */
video {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.form-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* space around */
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 400px;
  width: 100%;
  margin: 200px auto;
  padding: 1rem;
  background: rgba(255, 255, 255, 0);
}

.form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.form h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1rem;
  line-height: 1rem;
  /* spread letters out */
  letter-spacing: 0.1rem;
}

.form p {
  font-size: 1rem;
  color: white;
  /* margin-bottom: 1rem; */
  margin: 2rem 0 1rem 0;
}

/* make form input background transparent */
input {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.blob {
  margin-left: 2rem;
}

.section2 {
  min-height: 600px;
  border: 1px solid red;
}
