@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");

/* css reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chela One", cursive;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ############### end css reset ################### */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top {
  background: rgba(18, 52, 87, 0.6);
}

/* background video fit entire screen */
video {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.form-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* space around */
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 400px;
  width: 100%;
  margin: 100px auto;
  padding: 1rem;
  background: rgba(255, 255, 255, 0);
}

.form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.form h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1rem;
  line-height: 1rem;
  /* spread letters out */
  letter-spacing: 0.1rem;
}

.form p {
  font-size: 1rem;
  color: white;
  /* margin-bottom: 1rem; */
  margin: 2rem 0 1rem 0;
}

/* make form input background transparent */
input {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input:-webkit-autofill { 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blob {
  margin-left: 2rem;
}

.section2 {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  gap: 2rem;
}

.section2-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2-top h1 {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 1rem;
  /* line-height: 3rem; */
}

.section2-top p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(107, 106, 106);
}

.section2-bottom {
  display: flex;
  gap: 5rem;
}

.section2-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section2-bottom-left h2 {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.section2-bottom-left p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(107, 106, 106);
}

.section2-bottom-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section2-bottom-middle h2 {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.section2-bottom-middle p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(107, 106, 106);
}

.section2-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section2-bottom-right h2 {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.section2-bottom-right p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(107, 106, 106);
}

.section3 {
  background-color: #F2F7F8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 6rem;
  gap: 2rem;
}

.section3-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.section3-right-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.section3-right-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .25rem;
}

/* media query for mobile */

@media (max-width: 680px) {

  .form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: 100%;
  }

  .form h1 {
    font-size: 3rem;
    text-align: center;
    flex-wrap: wrap;
    line-height: 3rem;
  }

  .form p {
    font-size: 1rem;
    text-align: center;
    flex-wrap: wrap;
    line-height: 1.5rem;
  }

  .section2-top h1, p {
    text-align: center;
    line-height: 3rem;
  }

  .section2-bottom {
    flex-direction: column;
    gap: 2rem;
  }

  .section3 {
    flex-direction: column;
    padding: 6rem 0;
  }
}